@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
.hero{
   width: 100%;
   height: 44.5rem;
   background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.herotext{
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
  
}
.text{
   font-size: 3rem;
   font-weight: 900;
   font-family: var(--fraunces-font);
   letter-spacing: 0.6rem;
}
.heroarrow{
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
}

@media (max-width:768px){
   .hero{
      width: 100%;
      height: 44.5rem;
      background-image: url(/sunnyside-agency-landing-page-main/images/mobile/image-header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}